.section{
    display:grid;
    grid-template-columns: 1fr 1fr;
    padding: 0.5rem 1rem;
    background-color: rgb(212, 222, 232);
    height: 3.5rem;
}

.heading{
    /* border:1px solid black; */
    grid-column: 1;
}
.heading h1,h3{
    padding: 0px;
    margin: 0px;
    outline: 0px;
    font-size: 29px;
    /* border: 1px solid brown; */
    font-style: var(--f-style);
}
.heading h3{
    padding: 0px;
    margin: 0px;
    margin-top: 5px;
    line-height: 0px;
    outline: 0px;
    margin-left:13.5rem ;
    font-size: 26px;
    font-style: var(--f-style);
}
.user{
    /* border:1px solid red; */
   grid-column: -1;
   display: flex;
   justify-content: space-around;
   align-items: center;
    
}